<h1 class="edit-heading">Editing employee</h1>

<div class="edit-form">
  <%= render "form", employee: @employee %>
</div>

<div class="edit-links">
  <%= link_to "Show this employee", @employee, class: "btn btn-secondary" %> |
  <%= link_to "Back to employees", employees_path, class: "btn btn-secondary" %>
</div>
